<template>
   
<div class="profile appear">  
        <div class="profile-detail__header d-flex appear" ref="profile_header" :style="{
               'background-image': 'url('+ bgPhoto +')' ,
               'background-repeat':'no-repeat',
                'background-size':'cover',}">
                <font-awesome-icon class="text text-normal text--white  d-lfex back-row"
                :icon="['fa','arrow-left']" @click="$router.push('/academico')" />

                   <slot name="profile-header"  ref="profiledetail__name" >
                    </slot> 
                 
           
           <div>
               <div class="profile-detail--overlays">
                    
               </div>
           </div>
        </div>
        <div id="profile-detail__description" class="profile-detail__description bg-white">
            <slot name="profile-description">
                    
         
        </slot>
            
        </div>    
</div>
    
</template>
<script>
export default {
    props:['bgPhoto'],
    methods:{
          animatableScroll() {
        window.onscroll = () => {
          let description = document.getElementById('profile-detail__description')
       
          let element = this.$refs.profile_header
          let box = this.$refs.profile_header
         
          
          let pos;
          let cor;
          pos = box;
          cor = pos.getBoundingClientRect().top;
   
          if ( document.documentElement.scrollTop > 80) {
            element.classList.add('profile-detail__header--fixed')
            description.classList.add('profile-detail__description--fixed')

          } else {
           element.classList.remove('profile-detail__header--fixed')
            description.classList.remove('profile-detail__description--fixed')
          }
        }
      }
    },
    mounted(){
        this.animatableScroll()
    }
}
</script>