<template>

 <detailsProfile  :bgPhoto="profile.photo"  >

     <div  slot="profile-header" id="profile-detail__name" class="profile-detail__name">
          <h1 class="text text--white ">{{ profile.username}}</h1>
            <p v-if="profile.role === 'STUDENT'" class="text text--white"> Estudiante - {{ profile.programa.nombre }}</p>
            <p v-if="profile.role === 'TEACHER'" class="text text--white"> Profesor -{{ profile.nombre }}</p>
            <star-rating read-only :star-size="18" :rating='4'></star-rating>
     </div>
        <div slot="profile-description" class="profile-detail__experiencie">
              <h3>Aportes</h3>
                <div v-if="aportes.length == 0">
                    <h3>no titene aportes</h3>
                </div>
                <fragment v-if="showProfile">
                    <!-- nota : cuando se ejecute el metodo onswipe realizar una peticion -->
                   <carousel   id="cauroselcat" :nav="true" :dots="false"
                      :responsive="{0:{items:1,nav:false},600:{items:1,nav:true}}">
                      <template slot="prev"><span class="prev">prev</span></template>

                        <div  v-for="(aporte,index) in aportes" :key="index" class="experiencie-card d-flex b-rounder--2  mt-4 appear" :style="{
                        'background-image': 'url('+ profile.photo +')' ,
                        'background-repeat':'no-repeat',
                            'background-size':'cover',}">
                            <div v-if="aporte.area" class="bg-overlays " :class="`bg-area--${aporte.area.nombre}`"></div>
                           
                            <div class="experiencie-card__description d-flex flex-column">
                            <span class="text text--white text-normal experiencie-card__title">aporte</span>
                             <span v-if="aporte.area" class="text text-small  b-rounder--2 bg-white ml-2 mb-4 " style="padding:.5em">{{aporte.area.nombre}}</span>
                            <div>
                                <span class="text text-small  b-rounder--2 bg-white ml-2" style="padding:.5em ">Etiqueta</span>
                                </div>
                            </div>  
                    
                         </div>
                       

                      <template slot="next"><span class="next">next</span></template>
                    </carousel>
                    </fragment>
                   <div class="d-flex justify-content-center" v-if="!showProfile">
                       <Spinner  color="#0fdb8d" :size="40"></spinner>
                       </div> 
                <div v-if="showTopic" class="mt-4">
                <h3>Temas</h3>  
                      <carousel   id="cauroselcat" :nav="true" :dots="false"
                      :responsive="{0:{items:1,nav:false},600:{items:1,nav:true}}">
                      <template slot="prev"><span class="prev">prev</span></template>

                        <div  v-for="(topic,index) in topics" :key="index" class="experiencie-card d-flex b-rounder--2  mt-4 appear" :style="{
                        'background-image': 'url('+ topic.photo +')' ,
                        'background-repeat':'no-repeat',
                            'background-size':'cover',}">
                            <div class="bg-overlays " :class="`bg-area--programacion`"></div>
                            <div class="experiencie-card__description d-flex flex-column">
                            <span class="text text--white text-normal experiencie-card__title">{{ topic.titulo }}</span>
                            <div>
                                <span class="text text-small  b-rounder--2 bg-white ml-2 " style="padding:.5em">Etiqueta</span>
                                </div>
                            </div>  
                    
                         </div>
                       

                      <template slot="next"><span class="next">next</span></template>
                    </carousel>
                </div>  

                <div class="mt-5">
                    <h2>about me</h2>
                    <h3>{{ profile.about }}</h3>
                </div>

                   

                 

                       
                   
          
        </div>
 </detailsProfile>

</template>
<script>

//library
import axios from 'axios'

//components
import detailsProfile from '../../../components/detailsProfile'
 import Spinner from 'vue-spinner-component/src/Spinner.vue'
import carousel from 'vue-owl-carousel'
export default {

    components:{
        detailsProfile,
        carousel,
        Spinner
        
    },
    data(){
        return{
         profile:[],
         aportes:[],
         topics:[],
         showProfile:false,
         showTopic:false,
        }
    },
    methods:{
    
          getUserProfile(){
            let vm = this
        
            axios.get(`https://go-university-v1.herokuapp.com/usuario/${vm.$route.params.id_user}`)
                .then(resp => {
                    const servicio = resp.data;
                    this.profile = servicio;
                     
                })
                .catch(err => {
                   
                    console.log(err)
                });
        },
         getAporteByUser(){
            let vm = this
        
            axios.get(`https://go-university-v1.herokuapp.com/aporte/usuario/${vm.$route.params.id_user}`)
                .then(resp => {
                    const servicio = resp.data;
                    this.profile = servicio[0].usuario;
                    console.log(servicio[0].usuario);
                    
                    this.aportes = servicio
                    this.showProfile = true
                     this.getTopicByUser()
                     
                })
                .catch(err => {
                   
                    console.log(err)
                });
        },
            getTopicByUser(){
            let store = this.$store.state 
            let vm = this
            axios.get(`https://go-university-v1.herokuapp.com/tema/usuario/${vm.$route.params.id_user}`,
                 {
                headers: {
                "token": `${store.token}`
                } 
            } ) 
                .then(resp => {
                    const servicio = resp.data;
                    this.topics = servicio;
                    this.showTopic = true
                     
                })
                .catch(err => {
                   
                    console.log(err)
                });
        },
          animatableScroll() {
        window.onscroll = () => {
         
   
          if ( document.documentElement.scrollTop > 40) {}
        }
      }
       
        
    },
    mounted(){
        this.getAporteByUser()
       
        
      

    }
}
</script>