<template>
<fragment>
    <detailsProfile  :bgPhoto="detalle.photo" :name="detalle.titulo" >
        <div  slot="profile-header" id="profile-detail__name" class="profile-detail__name">
          <h1 class="text text--white ">{{ detalle.titulo}}</h1>
          <h3 class="text text--white">{{ detalle.usuario.role === 'STUDENT' ? 'Estudiante' : 'Profesor'  }}</h3>
           <userProfile  :username="detalle.usuario.username " :photo="detalle.usuario.photo"  class="d-flex " textColor="text--white" />
            
     </div>
       <div slot="profile-description" class="profile-detail__experiencie">
           <div class="mt-5" ref="description" id="desc" >
               <h3>Description</h3>
              <!--<div v-html="detalle.descripcion"></div>-->
              <p>{{ detalle.descripcion }}</p>
           </div>
           <div class="mt-5">     
            <img @click="showDetails = true" :src="detalle.photo" width="80%" :alt="detalle.titulo" style="object-fit:cover;border-radius:10px" />
                
                     
              
           </div>
     </div>
    </detailsProfile>
     <postDetails  v-if="showDetails" :photo="detalle.photo"  :title="detalle.titulo" @closet="showDetails = false" />
     </fragment> 
</template>
<script>

//components
import detailsProfile from '../../../components/detailsProfile'
import userProfile from '../../../components/userProfile'
import postDetails from '../../../components/PostDetalle'

export default {
    components:{
        detailsProfile,
        userProfile,
        postDetails 
    },
    props:['detalle'],
    data(){
        return{
            showDetails:false
        }
    },
    computed:{
            text(){
                return this.detalle.descripcion.replace("'", "*").replace("¨", "'").replace('*', '"')
                   


                
               
            }
    },
    mounted(){

        
        
        
       
        
    }
}
</script>