//VERSION_1

/*
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    box-shadow: 2px 0px 6px rgba( #000000, .2);

   
    
    &-box{
        //border: 2px solid red;
        //transform: translateY(-60%);
        padding: 2em 2em;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 2em;
        &__wrapper{
            background-color: #fff;
            box-shadow: 0px 2px 2px rgba( #000000, .1);

        }
        &--item{
            //border:1px solid $prymary;
            padding: 1em 1em;
            border-radius: 8px;
            width: 100px;
            text-align: center;
            box-shadow: 0px 1px 3px 6px rgba( $prymary, .2);

            h3:first-letter{
                text-transform: uppercase;
            }
           
        }
    }
}

.header-box{
    padding:1em 1em;
    //box-shadow: 0px 2px 2px rgba( #000000, .1);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.programas-box{
 width: 120px;

    &__icon{
        border-radius: 50%;
        width: 45px;
        height: 45px;
        position: relative;
    }

    &-title{
        //width: 80px;
        //word-wrap: break-word;
        //margin-left: 2px;
    }
}
*/

//VERSION 2

.menu{
    width: 100%;
    box-shadow: 0px -2px 4px rgba(#000000,.1) ;
    height: 70px;
    z-index: 1000;
   
    &-box{
        height: inherit;
        padding: .2em .6em;
        &--item{
            width: 100px;
            margin-right: 2px;
            padding: .2em;
            font-size: 22px;
            transition: .3s;
        }
    }
}

.menu--item_scale{
    transform: scale(1);
    animation: scaleItem .2s ease-out both ;
    @keyframes scaleItem {
        to{
            transform: scale(1.1);
        }
    }
}
.header-box{
      padding:1em 1em;
    box-shadow: 0px 2px 4px rgba( #000000, .1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &__cover{
      
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }
}

.menu-bottom{
   box-shadow: -2px 2px 14px rgba(#000000,.2) ;
    &__item{
        padding: .6em;
    }
}

