.profile{
    width: 100%;
    height: auto;
}


.profile-detail{
   

    &__header{
        position: relative;
        z-index: 1;
      height: 80vh;
      background-position: center;
      overflow: hidden;
      align-items: center;
      transition: all .5s;
      &--fixed{
        position: fixed;
        top: 0;
        left: 0 ;
        width: 100%;
        height: 10vh;
        box-shadow: 0 2px 9px rgba(#000,.2);
        z-index: 3;
        transition: height .5s;
                   
        .profile-detail__name{
            transform: translateY(0) ;

            p{display: none;}
            .text{font-size: 22px;margin-left: 2rem;transition: font-size .3s;}
            .vue-star-rating{margin-left: 1rem;}
            .user-profile{display: none;}
            h3{display: none;}
        }
    }
     
      
    }
   
    &__name{
        position: relative;
        z-index: 1;
        transform: translateY(95%);
        padding: 1em;
    }

    &--overlays{
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-image: linear-gradient(rgba(#000,0),rgba(#000,.9));
    }

    &__description{
        position: relative;
      
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 2;
        transform: translateY(-100px);
        padding: 1em;

        &--fixed{
            height: 120vh;
            padding-top: 350px;
        }
    }
}

.experiencie-card{
    position: relative;
    height: 110px;
    padding: .5em;
    overflow: hidden;
    &__description{
      position: relative;
      z-index: 1;
    }
    .bg-overlays{
        position: absolute;
        z-index: 0;
        top: 0;
        left:0 ;
        width: 100%;
        height: 100%;
    }
}
@each $name,$colors in $areas{
    .bg-area--#{$name}{
        background-image: linear-gradient(rgba($colors,.5),rgba($colors,.8)) ;

    
    }
}



.back-row{
    position: absolute;
    top: 4%;
    left: 2%;

}

